/* Adjust the max width of the page */
.wy-nav-content {
    max-width: 50%;
    /* Set to 100% of the screen width */
    width: 50%;
    /* Adjust as needed for spacing */
}

/* Adjust the width of the sidebar */
.wy-side-nav-search {
    max-width: 300px;
    /* Adjust as necessary */
}